.chat-frame {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 350px;
    border-left: 1px solid #DEDEE6;
    background-color: #fff;
    box-shadow: 0 0 20px #D9DCEE;
    color: #6D6D6D;

    display: flex;
    flex-direction: column;

    .messages-pane {
        order: 1;
        flex-grow: 1;
        margin: 5px 0;
        overflow-y: auto;
    }

    .message-input {
        order: 2;
        flex-grow: 0;
        padding: 20px 22px;
        font-size: 16px;
        color: #6D6D6D;
        border: 0;
        border-top: 1px solid #E2E2E2;
    }

    .message {
        line-height: 1.5;
        padding: 5px 0 5px 20px;

        .user {
            color: #000066;
            font-weight: bold;
            padding-right: 15px;
        }
    }
}